<!DOCTYPE html>
<html lang="{$config.language|default='zh-cn'}">
    <head>
        <meta charset="utf-8">
        <title>{$title|default=''} - {$site.name|default='FastAdmin'}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta name="referrer" content="never">
        <meta name="robots" content="noindex, nofollow">
        <link rel="shortcut icon" href="__CDN__/assets/img/favicon.ico" />
        <link href="__CDN__/assets/css/backend{$Think.config.app_debug?'':'.min'}.css?v={$site.version|htmlentities}" rel="stylesheet">
        <link href="__CDN__/assets/css/skins/skin-black-blue.css?v={$site.version|htmlentities}" rel="stylesheet">
        <!-- <link href="__CDN__/assets/css/adminlte-v4.css?v={$site.version|htmlentities}" rel="stylesheet"> -->
        <!--[if lt IE 9]>
          <script src="__CDN__/assets/js/html5shiv.js"></script>
          <script src="__CDN__/assets/js/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript">
            var require = {
                config:  {$config|json_encode}
            };
        </script>
    </head>
    <body class="hold-transition skin-black-blue {:input('dialog') && $Think.server.HTTP_SEC_FETCH_DEST=='iframe'?'is-dialog':''}" style="padding-top:50px;">

        {__CONTENT__}

        <script src="__CDN__/assets/js/require.min.js"></script>
        <script type="text/javascript">
            require.config({
                config: {
                    site: {$site|json_encode}
                }
            });
        </script>
        <script src="__CDN__/assets/js/require-backend{$Think.config.app_debug?'':'.min'}.js?v={$site.version|htmlentities}"></script>
    </body>
</html>
