<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
    <input type="hidden" name="row[id]" value="{$row.id}">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">类型:</label>
        <div class="col-xs-12 col-sm-4">
            <input class="form-control" type="text" value="{$row.type_text}" readonly disabled>
            <p style="margin-top:5px;font-size:12px;color:#888;">类型创建后不可更改</p>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">登录账号:</label>
        <div class="col-xs-12 col-sm-4">
            <input class="form-control" type="text" value="{$row.username}" readonly disabled>
        </div>
    </div>

    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2"><i style="color:red">*</i>名称:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row.name}">
        </div>
    </div>

    <div class="form-group">
        <label for="c-password" class="control-label col-xs-12 col-sm-2">重置密码:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-password" class="form-control" name="row[password]" type="password" value="" placeholder="留空不修改">
        </div>
    </div>

    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">手机号码:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-mobile" data-rule="mobile" class="form-control" name="row[mobile]" type="text" value="{$row.mobile}" placeholder="手机号码">
        </div>
    </div>

    <div class="form-group">
        <label for="c-domain" class="control-label col-xs-12 col-sm-2">代理网址:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-domain" class="form-control" name="row[domain]" type="text" value="{$row.domain}" placeholder="如 https://agent.example.com">
            <p style="margin-top:5px;font-size:12px;color:#888;">该代理专属的客户端下载/推广网址</p>
        </div>
    </div>

    <div class="form-group">
        <label for="c-score" class="control-label col-xs-12 col-sm-2">积分/点数:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-score" class="form-control" name="row[score]" type="number" value="{$row.score}" placeholder="积分/点数">
        </div>
    </div>

    <div class="form-group">
        <label for="c-api_key" class="control-label col-xs-12 col-sm-2">API Key:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-api_key" class="form-control" name="row[api_key]" type="text" value="{$row.api_key}" placeholder="留空使用系统默认Key">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">API Key模式:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[is_custom_key]', ['0'=>'使用上级API Key','1'=>'自定义API Key'], $row['is_custom_key'])}
        </div>
    </div>

    {if $canGrantModelConfig}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">大模型配置授权:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[allow_model_config]', ['0'=>'禁止自定义','1'=>'允许自定义'], $row['allow_model_config'])}
            <p style="margin-top:5px;font-size:12px;color:#888;">允许后，该{if $row.type == 'tiepai'}贴牌商及其代理{else}代理{/if}的后台侧边栏会出现「大模型配置」菜单，可自行配置API地址与密钥</p>
        </div>
    </div>
    {/if}

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['normal'=>__('Normal'), 'hidden'=>'关闭'], $row['status'])}
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
