<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        <div class="panel-lead"><b>上报异常检测</b>：检测"活跃使用但不上报计费"的账号（客户端被篡改/抓 key 直连绕过计费）</div>
    </div>
    <div class="panel-body">
        <div id="toolbar" class="toolbar btn-toolbar" style="margin-bottom:10px;">
            <button id="refresh" class="btn btn-primary btn-refresh" title="重新检测">{:__('Refresh')}</button>
        </div>
        <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
               data-operate-edit="" data-operate-del="" width="100%">
        </table>
    </div>
</div>
