<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}

    {if $isSuperAdmin}
    <div class="form-group">
        <label for="c-agent_id" class="control-label col-xs-12 col-sm-2"><i style="color:red">*</i>所属代理ID:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-agent_id" data-rule="required" class="form-control" name="row[agent_id]" type="number" value="0" placeholder="代理ID">
            <p style="margin-top: 5px;font-size: 12px;color:#888;">填写对应的代理ID</p>
        </div>
    </div>
    {else /}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-4">
            <p style="margin-top:8px;font-size:13px;color:#888;">邀请码将归属到当前登录代理名下</p>
        </div>
    </div>
    {/if}

    <div class="form-group">
        <label for="c-max_count" class="control-label col-xs-12 col-sm-2">最大使用次数:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-max_count" class="form-control" name="row[max_count]" type="number" value="0" placeholder="0=不限">
            <p style="margin-top: 5px;font-size: 12px;color:#888;">0表示不限次数</p>
        </div>
    </div>

    <div class="form-group">
        <label for="c-expiretime" class="control-label col-xs-12 col-sm-2">过期时间:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-expiretime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" name="row[expiretime]" type="text" value="" placeholder="留空=永不过期">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['normal'=>__('Normal'), 'hidden'=>'关闭'], 'normal')}
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
