<style type="text/css">
    .test_model{border: 2px solid #965fff;border-radius: 10px;text-align: center;display: block;margin: 0 auto;line-height: 35px;font-size: 16px;width: 50%;margin: 10px auto;margin-top: 20px;cursor: pointer;color: #965fff;}
</style>

<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">自定义别名:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control name" name="row[name]" data-rule="required" type="text" placeholder="别名，如：阿里千问1" value="">
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 0px;">
        <label class="control-label col-xs-12 col-sm-2">模型用处:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[create_type]', ['1'=>'仅查收录', '2'=>'查收录+写作'],1)}
            <p style="margin-top: 5px;font-size: 12px;color: #888;">开启写作模式的话，该模型可用于写文章，开启多个则随机抽取一个写作</p>
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 0px;">
        <label class="control-label col-xs-12 col-sm-2">联网搜索:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[enable_search]', ['0'=>'关闭', '1'=>'开启','2'=>'手动查询时自动开启'],0)}
            <p style="margin-top: 5px;font-size: 12px;color: #888;">开启联网搜索后可以快速查到实时收录，同时也会让查询费用增加（不开启联网的话收录查询会慢很多）</p>
            <p style="margin-top: 5px;font-size: 12px;color: red;">选择 ' 手动查询时自动开启 '的话，仅手动点击查询时会联网，自动查询不联网</p>
        </div>
    </div>

    <div class="form-group" >
        <label class="control-label col-xs-12 col-sm-2">大模型平台:</label>
        <div class="col-xs-12 col-sm-8">
            <select class="form-control type_id" name="row[type_id]">
                <option value="1" selected>deepseek</option>
                <option value="2">豆包（火山）</option>
                <option value="3">腾讯元宝（混元）</option>
                <option value="4">通义千问（阿里）</option>
                <option value="5" >文心一言(千帆)</option>
                <option value="6">自定义大模型</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">请求接口:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-api_url" class="form-control api_url" name="row[api_url]" data-rule="required" type="text" placeholder="请求接口，如：https://xxxx" value="https://api.deepseek.com/chat/completions">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">API-KEY:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-key" class="form-control key" name="row[key]" data-rule="required" type="text" placeholder="API-KEY，如：7e4f3d57deab7d3bb151083ef29">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">模型:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-model" class="form-control model" name="row[model]" data-rule="required" type="text" placeholder="模型名称，如：glm-4-flash" value="deepseek-chat">
        </div>
    </div>

    <div class="test_model">测试模型</div>


    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>

<script src="__CDN__/user_assets/layui/jquery-3.7.1.js?v={$Think.config.site.version}"></script>
<!-- <script src="__CDN__/user_assets/layui/layui.js?v={$Think.config.site.version}"></script> -->
<script type="text/javascript">
    $('.test_model').click(function(){
        var type_id = $('.type_id').val();
        var model = $('.model').val();
        var key = $('.key').val();
        var api_url = $('.api_url').val();
        if(type_id <= 0 || model=='' || key=='' || api_url==''){
            layer.msg('请填写完整的参数');return;
        }
        var load_index = layer.load();
        $.post('user_model/test_model',{type_id:type_id,model:model,key:key,api_url:api_url},function(data){
            layer.close(load_index)
            layer.msg(data.msg);
        },'json');
    });

    $('.type_id').change(function(){
        if($('.type_id').val() == 1){
            $('.api_url').val('https://api.deepseek.com/chat/completions');
            $('.model').val('deepseek-chat');
        }else if($('.type_id').val() == 2){
            $('.api_url').val('https://ark.cn-beijing.volces.com/api/v3/chat/completions');
            $('.model').val('');
        }else if($('.type_id').val() == 3){
            $('.api_url').val('https://api.hunyuan.cloud.tencent.com/v1/chat/completions');
            $('.model').val('hunyuan-turbo-latest');
        }else if($('.type_id').val() == 4){
            $('.api_url').val('https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions');
            $('.model').val('qwen-max');
        }else if($('.type_id').val() == 5){
            $('.api_url').val('https://qianfan.baidubce.com/v2/chat/completions');
            $('.model').val('ernie-4.0-8k');
        }else{
            $('.api_url').val('');
            $('.model').val('');
        }
    });
</script>

